<!--The content below is only a placeholder and can be replaced.-->
{{questionInfo | json}} <-----question info
<hr>
<div class="row">
  <div class="col-sm-2 col-sm-offset-5 text-center">
    <div id="container">
      <div class="text-left">
        <b>Question:</b> <span id="question"></span>  {{questionInfo?.question}}
      </div>
      <div class="text-left">
        <b>Category:</b> <span id="category"></span> {{questionInfo?.category?.title}}
      </div>
      <div class="text-left">
        <b>Value:</b> <span id="questionvalue"></span> {{questionInfo?.value}}
      </div>
      
{{answer}}
    </div>
  </div>
</div>
<hr>
<app-input-and-button (nextQuestion)="getDataFromService()" [questionInfo]="questionInfo"></app-input-and-button>




